<div class='container'>
  <h1>All Messages</h1>
  <div class="row">
    <% @messages.each do |message| %>
      <div class="col-xs-6">
        <div class='card'>
          <div class='card-icon'>
            
          </div>
          <div class="card-body">
            <div class='auth-link'>
              <%= link_to(message_path(message)) do %>
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><br>
                <%= message.author %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


