<div class='container'>
  <h1>All Messages</h1>
  <div class="row">
    <% @messages.each do |message| %>
      <div class="col-xs-6">
        <div class='card'>
          <div class='card-icon'>
            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
          </div>
          <div class="card-body">
            <div class='auth-link'>
              <%= link_to message.author, message_path(message) %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


