<div class='container'>
  <%= link_to '#' do %>
    <%= image_tag(asset_path('university.png'), :class => 'img-responsive animated bounce delay-2s', :id => 'hooray') %>
  <% end %>

  <div id='congrats'>
    <h1>Congrats Maddie!</h1>

    <div class="btn-group-vertical">
      <%= link_to "View Messages", messages_path, :method => :get, :class => "btn btn-primary" %>
      <%= link_to "New Message", new_message_path, :class => "btn btn-primary" %>
    </div>
  </div>
  

</div>
